<h>User_Application_Detail</h>
<p>
  <strong>Property_ID:</strong>
  <%= @user_app.property_id %>
</p>

<p>
  <strong>Email_ID:</strong>
  <%= @user_app.email %>
</p>

<p>
  <strong>Start_date:</strong>
  <%= @user_app.start_date %>
</p>

<p>
  <strong>End_date:</strong>
  <%= @user_app.end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user_app.status %>
</p>

<p>
  <strong>Phone_no:</strong>
  <%= @user_app.phone_no %>
</p>

<%= link_to "search",  properties_path %>
