    <div>
      <% if @user.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@user.errors.count, "below error found") %>:</h2>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>

<h>Edit User Details</h>
<%= form_for @user, url:  user_path(@user.id)  ,method: :patch  do |f| %>
  <h> User_Profile_form </h>
   <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
   <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
   <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
   <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
   <p>
    <%= f.label :Phone_no %><br>
    <%= f.text_field :phone_no %>
   <p>
    <%= f.submit %>
<% end %>
<%= link_to 'Back', users_path %>
