<div style="width: 470px; margin: auto;" >
    <div>
      <% if @user.errors.any? %>
        <div id="errorExplanation">
          <strong><%= pluralize(@user.errors.count, "below error found") %>:</strong>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>

  <div class="signup">
    <%= form_for :user, url: signup_users_path do |f| %>
      <div class="input_row">
        <div class="lebel"><%= f.label :email %></div>
        <div class="field"><%= f.text_field :email %></div>
      </div>

      <div class="input_row">
        <div class="lebel"><%= f.label :password %></div>
        <div class="field"><%= f.password_field :password %></div>
      </div>

      <div class="input_row">
        <div class="lebel"><%= f.label :password_confirmation %></div>
        <div class="field"><%= f.password_field :password_confirmation %></div>
      </div>
      
      <div class="input_row">
        <div class="lebel"><%= f.label :role %></div>
        <div class="field"><%= f.select :role, options_for_select(%w[owner tenent buyer]) %></div>
      </div>

      <div class="input_row">
        <div class="lebel"><%= f.label :first_name %></div>
        <div class="field"><%= f.text_field :first_name %></div>
      </div>

      <div class="input_row">
        <div class="lebel"><%= f.label :last_name %></div>
        <div class="field"><%= f.text_field :last_name %></div>
      </div>

      <div class="input_row">
        <div class="lebel"><%= f.label :Phone_no %></div>
        <div class="field"><%= f.text_field :phone_no %></div>
      </div>  

      <div class="signup_button">
        <%= f.submit 'Signup' %>
      </div>  
    <% end %>
  </div>
  
</div>
  
