<div style="width: 470px; margin: auto;" >
<h>Edit Properties Details</h>
    
<div class="editProperties">
  <%= form_for @property, url:  property_path(@property.id),method: :patch  do |f| %>
  
     
    <div class="lebel"><%= f.label :title %></div>
    <div class="field"><%= f.text_field :title %> </div>
 
 
    <div class="lebel"><%= f.label :Construct_date %></div>
    <div class="field"><%= f.text_field :construct_date %></div>
  
    <div class="lebel"><%= f.label :Land_Area %></div>
    <div class="field"><%= f.text_field :land_area %></div>
  
    <div class="lebel"><%= f.label :Covered_Area %></div>
    <div class="field"><%= f.text_field :covered_area %></div>
    
    <% property = [['rental', 1], ['resedential', 2]] %>
    <div class="lebel"><%= f.label :Property_Type %></div>
    <div class="field"><%= f.select :property_type, options_for_select(property) %></div>
    
    <% category = [['2bhk', 1], ['3bhk', 2], ['4bhk', 3], ['5bhk', 4]] %>
    <div class="lebel"><%= f.label :Category %></div>
    <div class="field"><%= f.select :category, options_for_select(category) %></div>
    
     <div class="lebel"><%= f.label :avatar %></div>
    <div class="field"><%= f.file_field :avatar %></div>
    
    <div class="lebel"><%= f.label :Bed_Rooms %></div>
    <div class="field"><%= f.text_field :bedrooms %></div>
 
    <div class="lebel"><%= f.label :Bathrooms %></div>
    <div class="field"><%= f.text_field :bathrooms %></div>
  
    <div class="lebel"><%= f.label :Street %></div>
    <div class="field"><%= f.text_field :street %></div>
  
    <div class="lebel"><%= f.label :Locality %></div>
    <div class="field"><%= f.text_field :locality %></div>
  
    <div class="lebel"><%= f.label :City %></div>
    <div class="field"><%= f.text_field :city %></div>
  
    <div class="lebel"><%= f.label :State %></div>
    <div class="field"><%= f.text_field :state %></div>
    
    <div class="lebel"><%= f.label :Country %></div>
    <div class="field"><%= f.text_field :country %></div>
   
    <div class="lebel"><%= f.label :Rental_Prize %></div>
    <div class="field"><%= f.text_field :rental_prize %></div>
  
    <div class="lebel"><%= f.label :Selling_Prize%></div>
    <div class="field"><%= f.text_field :selling_prize %></div>
  
    <div class="lebel"><%= f.label :Pincode %></div>
    <div class="field"><%= f.text_field :pincode %></div>
  
  <div class="editProperties_button"><%= f.submit 'UpdateProperties' %></div>
  <% end %>
  </div>
</div>
