<h>Property Detail</h>
<p>
  <strong>title:</strong>
  <%= @property.title %>
</p>
<p>
  <strong>User_id:</strong>
  <%= @property.user_id %>
</p>


<p>
  <strong>Construct_Date:</strong>
  <%= @property.construct_date %>
</p>


<p>
  <strong>Land_Area:</strong>
  <%= @property.land_area %>
</p>

<p>
  <strong>Covered_Area:</strong>
  <%= @property.covered_area %>
</p> 

<p>
  <strong>Property_Type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>image:</strong>
  <%= image_tag @property.avatar.url(:thumb) %>  
</p>


<p>
  <strong>Category:</strong>
  <%= @property.category %>
</p>


<p>
  <strong>Bed_Rooms :</strong>
  <%= @property.bedrooms %>
</p>

<p>
  <strong>Bathrooms :</strong>
  <%= @property.bathrooms %>
</p>

<p>
  <strong>Street:</strong>
  <%= @property.street %>
</p>
<p>
  <strong>Locality:</strong>
  <%= @property.locality %>
</p>
<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @property.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @property.country %>
</p>

<p>
  <strong>Rental_Prize:</strong>
  <%= @property.rental_prize %>
</p>
<p>
  <strong>Selling_Prize:</strong>
  <%= @property.selling_prize %>
</p>
<p>
  <strong>Pincode:</strong>
  <%= @property.pincode %>
</p>

<h2>Comments</h2>
<% @property.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
 
<h2>Add a comment:</h2>
<%= form_for([@property, @property.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %> 

<h2>Property_Application_Detail</h2>
<% @property.applications.each do |user_app| %>
<p>
  <strong>Email_ID:</strong>
  <%= user_app.email %>
</p>

<p>
  <strong>Start_date:</strong>
  <%= user_app.start_date %>
</p>

<p>
  <strong>End_date:</strong>
  <%= user_app.end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= user_app.status %>
</p>

<p>
  <strong>Phone_no:</strong>
  <%= user_app.phone_no %>
</p>
<% end %>


<%= link_to "apply", new_property_application_path(@property.id) %>
  
<%= link_to "Edit", edit_property_path(@property.id) %>


