<h>Properties Profile</h>

<p>
  <strong>title:</strong>
  <%= @propertie.title %>
</p>
<p>
  <strong>User_id:</strong>
  <%= @propertie.user_id %>
</p>


<p>
  <strong>Construct_Date:</strong>
  <%= @propertie.construct_date %>
</p>


<p>
  <strong>Land_Area:</strong>
  <%= @propertie.land_area %>
</p>

<p>
  <strong>Covered_Area:</strong>
  <%= @propertie.covered_area %>
</p> 

<p>
  <strong>Bed_Rooms :</strong>
  <%= @propertie.bedrooms %>
</p>

<p>
  <strong>Bathrooms :</strong>
  <%= @propertie.bathrooms %>
</p>

<p>
  <strong>Street:</strong>
  <%= @propertie.street %>
</p>
<p>
  <strong>Locality:</strong>
  <%= @propertie.locality %>
</p>
<p>
  <strong>City:</strong>
  <%= @propertie.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @propertie.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @propertie.country %>
</p>

<p>
  <strong>Rental_Prize:</strong>
  <%= @propertie.rental_prize %>
</p>
<p>
  <strong>Selling_Prize:</strong>
  <%= @propertie.selling_prize %>
</p>
<p>
  <strong>Pincode:</strong>
  <%= @propertie.pincode %>
</p>


<%= link_to "Edit", edit_property_path(@propertie.id) %>


